{{!-- <footer class="navbar fixed-bottom bg-dark text-white p-3 mt-5">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                Copyright &copy; Of {{ name }}
            </div>
        </div>
    </div>
</footer> --}}

<footer class="fixed-bottom bg-dark text-white">
<p class="lead text-center">
        &copy; Copyright of {{name}}
    </p>
</footer>
    
